functions-framework==3.*
google-auth
google-api-core
google-cloud-pubsub
google-cloud-bigquery
google-cloud-storage
google-cloud-documentai
grpcio-status
immutabledict
ratelimiter
tabulate
Pillow==10.2.0
numpy
grpcio
pytesseract
tesseract
opencv-python
pandas
tensorflow
gunicorn==22.0.0
Werkzeug==3.0.1
Flask==3.0.0