functions-framework==3.*
google-auth
google-api-core
google-cloud-pubsub
google-cloud-bigquery
google-cloud-storage
google-cloud-documentai
grpcio-status
immutabledict
ratelimiter
tabulate
Pillow==10.2.0
numpy
grpcio
pytesseract
tesseract
opencv-python
retry2
pandas
tensorflow